<div class="container pt-5">
  <div class="jumbotron">
    <h1 class="display-4">Hello, welcome <%= current_user.username if user_signed_in? %></h1>
    <p class="lead">This is a simple contact import app, where you would import and store contact from a csv file.</p>
    <hr class="my-4">
    <% if !user_signed_in? %>
      <p>Register or log in to start using the app.</p>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success btn-lg' %>
      <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>