<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<p>
  <%= @book.user.username %>
</p>
<p>
  <%= url_for(@book.file) %>
</p>
<p>
  <%= @book.status %>
</p>
<p>
  <%= @book.file.content_type %>
</p>